\documentclass{article}

\usepackage{graphicx}

\title{Chicago Weather Forecast}

\begin{document}

\section{Current Weather}
The current temperature is $CURRTEMP degrees Fahrenheit.

\begin{figure}
    \includegraphics[width=2in]{image.png}
\end{figure}

\end{document}
